@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

header {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  width: 100%;
  z-index: 99;
  position: relative;
}

.nav-bar {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
}

.nav-bg {
  position: absolute;
  top: 0;
  left: 0;
}

.nav-logo {
  width: 180px;
}

.join-us-btn button {
  cursor: pointer;
  font-size: 20px;
  height: 45px;
  width: 140px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #162943;
  border-radius: 8px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: color 0.5s;
}

.join-us-btn button:hover {
  color: white;
}

.join-us-btn button::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 100%;
  width: 120%;
  height: 220%;
  background-color: #162943;
  border-radius: 50%;
  z-index: -1;
  transition: all 0.8s ease;
}

.join-us-btn button:hover::before {
  top: -50%;
  left: -10%;
}

.join-us-btn a {
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
}

.nav-media {
  display: none;
}

.header-container {
  width: 100%;
  height: 90vh;
  margin-top: 20vh;
  display: flex;
  justify-content: center;
  padding-top: 14vh;
}

.event-partner-left {
  width: 50%;
  height: 80%;
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  gap: 60px;
}

.event-partner-img img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: gainsboro;
}

.event-partner-right {
  width: 50%;
  height: 90%;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.event-partner-right-container {
  width: 90%;
  height: 90%;
  background-color: #162943;
  border-radius: 20px;
  padding: 3%;
}

.event-partner-right-container p {
  color: #fff;
  font-size: 20px;
  line-height: 28px;
}

.event-partner-left h2 {
  font-size: 36px;
  color: #162943;
}

.register-btn {
  width: 220px;
  height: 48px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  flex-direction: column;
  background-color: #e9581a;
  overflow: hidden;
}

.register-btn span {
  position: absolute;
  top: 12px;
  left: 30px;
}

.register-btn a {
  opacity: 0;
}

.register-btn:hover span {
  transform: translateY(-50px);
  transition: 1s all ease;
}

.register-btn:hover a {
  opacity: 1;
  transition: 1s all ease;
}

.register-btn a,
.register-btn span {
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
}

@media screen and (max-width: 1024px) {
  header {
    overflow: hidden;
    height: fit-content;
  }

  .nav-bg {
    display: none;
  }

  .nav-media {
    display: flex;
  }

  nav {
    position: fixed;
  }

  .nav-media,
  .join-us-btn {
    z-index: 99;
  }

  .nav-media {
    position: absolute;
    left: -120px;
    top: -5rem;
    display: flex;
  }

  .nav-logo {
    width: 35%;
    z-index: 100;
  }

  .nav-bar {
    padding-left: 20px;
    padding-right: 20px;
  }

  .header-container {
    height: fit-content;
    flex-direction: column;
    margin-top: 12vh;
  }

  .event-partner-left {
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    gap: 30px;
  }

  .event-partner-right {
    width: 100%;
    align-items: center;
    margin-top: 60px;
    padding-bottom: 30px;
  }
}
